{% extends 'html_pages/base.html' %}

{% block content %}
<div class="col-10 offset-2">
    <div class="container mt-5">
        <div class="row justify-content-center mb-3">
            <h1 class="text-center">Наши контакты</h1>
        </div>
        <div class="row g-4">
            <!-- Форма -->
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-3">Отправить</button>
                </form>
            </div>

            <!-- Контактная информация -->
            <div class="col-md-6">
                <div class="card text-bg-secondary h-100">
                    <div class="card-body">
                        <h2 class="mb-4">Контактные данные</h2>
                        <p>Spain, Barcelona, Catalunya</p>
                        <p>calle Aragó 208, 2-5, 08011</p>
                        <p><strong>Телефон:</strong> 656 47 37 82</p>
                        <p><strong>Email:</strong> <a href="mailto:info@vissumlex.com" class="text-white">info@vissumlex.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
