  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Продукты</h1>
        <p class="lead text-body-secondary">Выберите список продкутов по категории</p>
        <p>
          <a href="{% url 'catalog:products_by_category' pk=1 %}" class="btn btn-primary my-2">Иммиграция</a>
          <a href="{% url 'catalog:products_by_category' pk=2 %}" class="btn btn-success my-2">Бизнес</a>
            <a href="{% url 'catalog:products_by_category' pk=3 %}" class="btn btn-warning my-2">Недвижимость</a>
            <a href="{% url 'catalog:products_by_category' pk=4 %}" class="btn btn-danger my-2">Налоги</a>
        </p>
      </div>
    </div>
